<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>480732941628-jmcv6danc3mvml8g3l34h3mqc5to8uff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480732941628-jmcv6danc3mvml8g3l34h3mqc5to8uff</string>
	<key>API_KEY</key>
	<string>AIzaSyCBzm39isNY7aoNwfiE6QUdUIzexNgyGzM</string>
	<key>GCM_SENDER_ID</key>
	<string>480732941628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.l12-firebase</string>
	<key>PROJECT_ID</key>
	<string>myreactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>myreactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:480732941628:ios:325f6b3550e68ffb</string>
	<key>DATABASE_URL</key>
	<string>https://myreactnative.firebaseio.com</string>
</dict>
</plist>